footer {
    background-color: #000080;
    text-align: center;
    color: #fff;
    height: 3vh;
}

/*ページネーション*/
.pagination{
    justify-content: center;
}

h3.song-title{
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

h4.contributor-introduction-label{
    font-size: 18px;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}

.song-video{
    width: 220px; 
    height: 150px;
}

.song-title{
    word-wrap: break-word;
}

.song-item{
    word-wrap: break-word;
}

.text-area{
    word-wrap: break-word;
}

.user-item{
    word-wrap: break-word;
    font-size: 14px;
}

.song-time{
    width: 180px;
}

.post-time{
    font-size: 13px;
}

.update-time{
    font-size: 13px;
}

.contributor-button{
    display: flex; 
    justify-content: flex-end;
}

.status-list{
    display: table;
    list-style: none;
}

.status-item-left{
    display: table-cell;
    padding: 0 10px;
}

.status-item{
    display: table-cell;
    border-left: solid 1px #333;
    padding: 0 10px;
}

.status-item-introduction{
    display: table-cell;
    padding: 0 8px;
}

.self-introduction{
    min-width: 150px;
    max-width: 300px;
}

.favorite-orange{
    color: #fecb81;
}

.btn-unfavorite{
    border: 1px solid #ff3366;
    font-weight: bold;
}

.btn-favorite{
    border: 2px solid #ffd700;
    font-weight: bold;
}

.circle1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: thin solid rgba(0,153,255,.8);
}

 /*　画面サイズが480pxから768pxのとき　*/
@media screen and (min-width:480px) { 
.song-video{
    width: 400px; 
    height: 250px;
}

.self-introduction{
    min-width: 150px;
    max-width: 400px;
}
}
    
/*　画面サイズが768pxから1024pxのとき　*/
@media screen and (min-width:768px) and ( max-width:1024px) {
.song-video{
    width: 450px; 
    height: 300px;
}

.self-introduction{
    min-width: 150px;
    max-width: 500px;
}
}
    
/*　画面サイズが1024px以上のとき　*/
@media screen and (min-width:1024px) {
.song-video{
    width: 550px; 
    height: 350px;
}

.self-introduction{
    min-width: 150px;
    max-width: 600px;
}
}